{% extends 'base.html' %}
{% block body %}
<h1>새로운 영화 작성 페이지</h1>
<hr>
<form action="" method="POST">
  {% csrf_token %}
  <label for="title">영화 제목 : </label>
  <input type="text" name="title" id="title">

  <label for="title_en">영화(영문) : </label>
  <input type="text" name="title_en" id="title_en">

  <label for="audience">누적 관객수 : </label>
  <input type="number" name="audience" id="audience">
  
  <label for="open_date">개봉일</label>
  <input type="date" name="open_date" id="open_date">

  <label for="genre">장르 : </label>
  <input type="text" name="genre" id="genre">

  <label for="watch_grade">관람 등급 : </label>
  <input type="text" name="watch_grade" id="watch_grade">

  <label for="score">평점 : </label>
  <input type="number" name="score" id="score">

  <label for="poster_url">포스터 이미지 URL : </label>
  <input type="text" name="poster_url" id="poster_url">

  <label for="description">영화 소개 : </label>
  <textarea name="description" id="description">

  <input type="submit" value="글 작성">
</form>
{% endblock %}

